---
- name: Check k3s version on Proxmox nodes
  hosts: proxmox_server
  gather_facts: false
  become: false
  tasks:
    - name: Check k3s version on controller node
      ansible.builtin.shell: |
        sudo /usr/sbin/pct exec {{ hostvars[item].pct_id }} -- bash -c "/usr/local/bin/k3s --version || echo 'k3s not installed'"
      loop: "{{ groups['k3s_controller'] }}"
      when: groups['k3s_controller'] is defined
      register: controller_version
      ignore_errors: true

    - name: Show k3s version on controller node
      ansible.builtin.debug:
        msg: "{{ item.stdout }}"
      loop: "{{ controller_version.results }}"
      when: controller_version.results is defined

    - name: Check k3s version on worker nodes
      ansible.builtin.shell: |
        sudo /usr/sbin/pct exec {{ hostvars[item].pct_id }} -- bash -c "/usr/local/bin/k3s --version || echo 'k3s not installed'"
      loop: "{{ groups['k3s_workers'] }}"
      when: groups['k3s_workers'] is defined
      register: worker_version
      ignore_errors: true

    - name: Show k3s version on worker nodes
      ansible.builtin.debug:
        msg: "{{ item.stdout }}"
      loop: "{{ worker_version.results }}"
      when: worker_version.results is defined
