---
- name: Install and Configure dnf-automatic on Rocky Linux containers
  hosts: proxmox_server
  gather_facts: false
  become: false
  tasks:
    - name: Ensure dnf-automatic is installed
      ansible.builtin.shell: |
        sudo -n /usr/sbin/pct exec {{ hostvars[item].pct_id }} -- bash -lc "dnf -y install dnf-automatic"
      loop: "{{ groups['rockylinux_containers'] }}"
      when: groups['rockylinux_containers'] is defined
      changed_when: false

    - name: Configure dnf-automatic
      ansible.builtin.shell: |
        sudo -n /usr/sbin/pct exec {{ hostvars[item].pct_id }} -- bash -lc "sed -i 's/^upgrade_type =.*/upgrade_type = default/' /etc/dnf/automatic.conf && \
        sed -i 's/^apply_updates =.*/apply_updates = yes/' /etc/dnf/automatic.conf"
      loop: "{{ groups['rockylinux_containers'] }}"
      when: groups['rockylinux_containers'] is defined
      changed_when: false

    - name: Enable and start dnf-automatic timer
      ansible.builtin.shell: |
        sudo -n /usr/sbin/pct exec {{ hostvars[item].pct_id }} -- bash -lc "systemctl enable --now dnf-automatic.timer"
      loop: "{{ groups['rockylinux_containers'] }}"
      when: groups['rockylinux_containers'] is defined
      changed_when: false
